# .env.example for Django Settings
DJANGO_SECRET_KEY=your-secret-key-here (Recommended-> Generate a New Key)
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# example for DB Settings
DB_HOST=
DB_PASS=
DB_USER=
DB_NAME=
DB_PORT=